version: "3.8"

services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    ports:
      - "1883:1883"
    volumes:
      - mosquitto_data:/mosquitto/data

  influxdb:
    image: influxdb:2.7
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: password123
      DOCKER_INFLUXDB_INIT_ORG: EcoGuard
      DOCKER_INFLUXDB_INIT_BUCKET: sensors
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUX_TOKEN}

  api:
    build: .
    ports:
      - "8000:80"
    environment:
      PORT: 80
      DEBUG: "true"

      MQTT_BROKER: mosquitto
      MQTT_PORT: 1883
      MQTT_USERNAME: ${MQTT_USERNAME}
      MQTT_PASSWORD: ${MQTT_PASSWORD}

      INFLUX_URL: http://influxdb:8086
      INFLUX_ORG: EcoGuard
      INFLUX_BUCKET: sensors
      INFLUX_TOKEN: ${INFLUX_TOKEN}

      CORS_ORIGIN: "*"
    depends_on:
      - mosquitto
      - influxdb

volumes:
  influxdb_data:
  mosquitto_data:
