#Backend (NodeJS Express)
NODE_ENV=development
BACKEND_ORIGIN_PORT=3000
BACKEND_DEST_PORT=3000

#Bridge BLE-MQTT
BRIDGE_BLE_MQTT_CONFIG_FILE=/app/config/config.yaml

#Serveur MQTT
MQTT_BROKER_USERNAME=ecoguard
MQTT_BROKER_PASSWORD=ecoguard123
MQTT_BROKER_ORIGIN_PORT=1883
MQTT_BROKER_DEST_PORT=1883

#InfluxDB
INFLUXDB_INIT_MODE=setup
INFLUXDB_INIT_USERNAME=choucroute
INFLUXDB_INIT_PASSWORD=choucroute
INFLUXDB_ORIGIN_PORT=8086
INFLUXDB_DEST_PORT=8086
INFLUXDB_INIT_ORG=cesi-iot
INFLUXDB_INIT_BUCKET=cesi-iot-bucket
INFLUXDB_INIT_ADMIN_TOKEN=fezdcihnsvnijcdsinvcjzneic

#Mobile App (React Native)
MOBILE_APP_ORIGIN_PORT=8081
MOBILE_APP_DEST_PORT=8081

#EXPO
EXPO_PUBLIC_API_BASE_URL=https://<ton-tunnel>